# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.DocumentRevisions-V100
.com.apple.timemachine.donotpresent

# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcuserdatad/
*.xcscmblueprint
*.xccheckout
*.moved-aside
DerivedData/
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode project caches
*.xcworkspace/xcuserdata/
project.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
.netrc
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace
